/* @media (max-width: 992px) {
    
    .listas {
        position: absolute;
        top: 75px;
        right: 3%;
        background-color: var(--fondo);
        opacity: 95%;
        border: 2px solid var(--prueba);
        border-radius: 15px;
        height: 400px;
        width: 20%;
        padding: 25px;
        z-index: 1;
        display: none;
         text-align: center;
    }

    .listdesordenada {
        border: 0px;
        width: 90%;
        flex-direction: column;
        align-items: flex-end;
    }

    .listdesordenada a {
        border: none;
        color: var(--bordes);
    }

    .usuario {
        display: none;
    }

    .fondo {
        height: 50%;
    }
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
        margin-right: 15px;
        height: 35px;
        width: 38px;
    }

    #menu-toggle:checked + #menu-hambur {
        display: flex;
    }
 
} */

/* @media (min-width: 556px) {
    #navbar {
        height: 10vh;
    }
    .logo {
        height: 100px;
    }
    .fondo {
        display: none;
    }
    .menu-label {
        height: 100em;
    }

    body {
        background-image: url(/imagenes/logo.png);
        height: 60vh;
        width: 100%;
        padding-top: 70px;
    }
} */