/* Segunda sección para la compra de los relojes */
     
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-style: none;
    }
    
    #navbar {
        background: #5F2F5F;
        height: 65px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        position: fixed;
        z-index: 1;
    }
    
    .logo {
        padding: 5px;
        margin: 15px;
        height: 60px;
    }
    
    .listas {
        list-style: none;
    }
    
    .listdesordenada {
        list-style: none;
        display: flex;
        gap: 45px;
    }
    
    .listdesordenada a {
        color: var(--white);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 18px;
        border: 2px solid var(--white);
        padding: 5px;
        border-radius: 3em;
        transition: all 1s;
    }
    
    .listdesordenada a:hover {
        color: var(--white);
        border: 2px solid var(--white);
        transition: all 0.5s;
    }
    
    .usuario {
        height: 45px;
        padding: 5px;
        margin: 15px;
    }

    #menu-toggle,
    .menu-label {
    display: none;
}

    .contenedor {
        background-color: #5F2F5F;
        width: 80%;
        padding: 68px;
        margin: 100px 50px;
        display: block;
        justify-content: center;
        align-items: center;
        box-shadow: 25px 25px 36px #000;
    }

    .wtc-png {
        height: 250px;
        width: 250px;
        margin-top: 100px;
        
    }


    #buy {
        top: 70px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 43%, rgba(95,47,95,1) 100%);
    }
    
    
    .conteiner {
        margin-top: 100px;
        margin-left: 20px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .r {
        height: auto;
        width: auto;
        max-width: 250px;
        max-height: 250px;
        gap: 25px;
        border: 2px solid var(--bordes);
        padding: 3vh 100vh 3vh 3vh;
        background-color: #000000;
        border-radius: 5px;
    } 